@import '@/sass/master';

.selectWrapper {
  position: relative;
  min-width: fit-content;
  width: 100%;

  > select {
    min-width: 13rem;
    width: 100%;
    appearance: none;
    cursor: pointer;
    height: 3rem;
    border: none;
    border-radius: $rounded;
    padding-left: $space-xsmall;
    color: $darkgray;
    background: none;
    font-size: $font-large;
    @include shadow(inner);

    &:focus {
      outline: none;
      @include shadow(outer);
    }

    &.active{
      @include shadow(outer);
    }
  }

  > img {
    position: absolute;
    right:$space-tiny;
    top: $space-tiny;
    pointer-events: none;
  }
}
